wheel

flask
eventlet

pymongo

inflect
inflection
Inflector
inflex
lemminflect
pyinflect
textblob
pattern
nltk
spacy
# Download manually: spacy download en_core_web_sm

module_dependencies

# Usage tracker deps
pypistats
huggingface_hub
GitPython
matplotlib
ghapi