{% extends 'base.html' %}

{% block title %}
Inflex - Try
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/form.css">
<link rel="stylesheet" href="/static/css/try.css">
{% endblock %}

{% block content %}
<div class="container mw-100">
    <!-- Form to get input information to send to the Server -->
    <form id="inflex_form" class="row needs-validation" method="post" novalidate>
        <!-- POS -->
        <!-- <div class="col-auto">
            <div class="form-floating">
                <select class="form-select" name="pos" id="pos" required>
                    <option value="n">Noun</option>
                    <option value="v">Verb</option>
                    The additional space is because col-auto fails with form-floating when the 
                        label is longer than the longest value. In this case, it will put the label on two lines,
                        causing it to look horrible.
                    <option value="a">Adjective&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                </select>
                <label for="pos" class="form-label">Part of Speech</label>
            </div>
        </div> -->
        <div class="col-auto">
            <!-- <div class="form-control"> -->
            <label for="pos" class="form-label">Part of Speech</label>
            <select class="form-select" name="pos" id="pos" required>
                <option value="n">Noun</option>
                <option value="v">Verb</option>
                <option value="a">Adjective</option>
            </select>
            <!-- </div> -->
        </div>

        <!-- Wordforms -->
        <!-- <div class="col-auto">
            <div class="form-floating">
                <select class="form-select" name="wordform" id="wordform" required>
                    <option value="sing">To Singular</option>
                    <option value="plur">To Plural</option>
                    <option value="past" disabled>To Past</option>
                    <option value="past_part" disabled>To Past Participle</option>
                    <option value="pres_part" disabled>To Present Participle</option>
                </select>
                <label for="wordform" class="form-label">Wordform</label>
                <div class="invalid-feedback">
                    Please select a valid wordform for this Part of Speech.
                </div>
            </div>
        </div> -->
        <div class="col-auto">
            <!-- <div class="form-control"> -->
            <label for="wordform" class="form-label">Wordform</label>
            <select class="form-select" name="wordform" id="wordform" required>
                <option value="sing">To Singular</option>
                <option value="plur">To Plural</option>
                <option value="past" disabled>To Past</option>
                <option value="past_part" disabled>To Past Participle</option>
                <option value="pres_part" disabled>To Present Participle</option>
                <option value="comp" disabled>To Comparative</option>
                <option value="super" disabled>To Superlative</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid wordform for this Part of Speech.
            </div>
            <!-- </div> -->
        </div>

        <!-- Force next columns to break to new line when the page is small enough -->
        <!-- <div class="enter_one"></div> -->

        <!-- Word -->
        <!-- <div class="col">
            <div class="form-floating">
                placeholder="" is required for the floating label
                <input type="text" class="form-control long" name="word" id="word" placeholder="" required>
                <label for="word" class="form-label">Word or Collocation</label>
                <div class="invalid-feedback">
                    Please provide a word or collocation.
                </div>
            </div>
        </div> -->
        <div class="col">
            <!-- <div class="form-control"> -->
            <label for="word" class="form-label">Word or Collocation</label>
            <input type="text" class="form-control long" name="word" id="word" placeholder=". . ." required>
            <div class="invalid-feedback">
                Please provide a word or collocation.
            </div>
            <!-- </div> -->
        </div>

        <!-- Force next columns to break to new line when the page is small enough -->
        <!-- <div class="enter_two"></div> -->

        <!-- Random -->
        <div class="col-auto">
            <label for="random" class="form-label">&nbsp;</label>
            <button type="button" name="random" id="random" class="btn btn-outline-warning d-block">Random</button>
        </div>

        <!-- Go -->
        <div class="col-auto">
            <label for="go" class="form-label">&nbsp;</label>
            <button type="submit" id="go" class="btn btn-outline-success d-block">Go</button>
        </div>

        <!-- Random & Go with Line -->
        <!-- <div class="col-12 d-flex justify-content-center background">
            <button type="button" name="random" id="random" class="btn btn-outline-warning d-block">Random</button>
            <button type="submit" id="go" class="btn btn-outline-success d-block">Go</button>
        </div> -->

        <!-- Random & Go -->
        <!-- <div class="col-auto">
            <div class="btn-group" role="group">
                <button type="button" name="random" id="random"
                    class="btn btn-outline-warning d-block">Random</button>
                <button type="submit" id="go" class="btn btn-outline-success d-block">Go</button>
            </div>
        </div> -->
    </form>
    <!-- <hr> -->

    <!-- <div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Correct Output</span>
    </div>

    <input type="text" class="form-control" placeholder="Output", aria-label="Output">

    <div class="input-group-append">
        <span class="input-group-text">12</span>
    </div>
</div> -->

    <!-- <hr> -->

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th id="module_column" scope="col">
                    Module
                </th>
                <th scope="col">
                    Output
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="known_correct_row" style="display: none">
                <td scope="col">
                    <span id="known_correct_module" class="input-group-text">Known correct</span>
                </td>
                <td scope="col">
                    <input id="known_correct_output" type="text" class="form-control" , aria-label="Output">
                </td>
                <!-- <td scope="col">
                    <span class="input-group-text">12</span>
                </td> -->
            </tr>
            <!-- <hr> -->
            <!-- <div class="collapse" id="collapsable_rows"> -->
            {%- for module in modules %}
            <tr id={{ module + "_row" }} style="display: none">
                <td scope="col">
                    <span class="input-group-text">{{ module }}</span>
                </td>
                <td scope="col">
                    <input id={{ module + "_output" }} type="text" class="form-control" , aria-label="Output">
                </td>
                <!-- <td scope="col">
                    <span class="input-group-text">12</span>
                </td> -->
            </tr>
            {%- endfor %}
            <!-- </div> -->
        </tbody>
    </table>

    <!-- TODO: use jquery to override on-click to send "show competitors" to Server -->
    <!-- IDEA: Set a hidden form element's value -->
    <div class="col-auto d-flex justify-content-center background">
        <button class="btn btn-outline-dark" type="button" id="competitors_button">Show Competitors</button>
    </div>

    <!-- <h2 class="background"><span>Show Competitors</span></h2> -->
</div>

<p id="modules" hidden>{{ modules | safe }}</p>

{% endblock %}

{% block script %}
<script src="/static/js/try.js"></script>
{% endblock %}